
.filtro-card { 
    padding: 1rem;
    font-weight: bold;
  }
  
.anuncio{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}

.font-bold {
  font-weight: bold;
}

.descripcion-anuncio{
  font-size: 1.70rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.cardContent{ 
  text-align: center;
  max-width: 500px;
  max-height: 200px;
  overflow: auto;
  font-weight: bold;
 }

 .content-text {
  white-space: pre-wrap; /* Preserva los espacios y los saltos de línea */
  word-wrap: break-word; /* Permite que las líneas largas se ajusten */
  font-size: medium; 
}


