node_modules
# Keep environment variables out of version control
.env
uploads/*
contratos/*
planos/*
adjuntosEventos/*
adjuntosMantenimientos/*

!uploads/.gitkeep
!contratos/.gitkeep
!planos/.gitkeep
!adjuntosEventos/.gitkeep
!adjuntosMantenimientos/.gitkeep
